{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "quotes": 0,
    "no-console": 1,
    "no-debugger": 1,
    "no-var": 1,
    "semi": [1, "never"],
    "no-trailing-spaces": 1,
    "eol-last": 1,
    "no-unused-vars": 1,
    "no-underscore-dangle": 0,
    "no-alert": 1,
    "no-lone-blocks": 0,
    "import/extensions": 1
  },
  "globals": {
  }
}